header.page-header
  div.wrapper.page-header__wrapper
    include ../burger-button/burger-button
    include ../navigation/navigation
    div.page-header__logo
      a(href="#")
        img(src=require('@images/logo.svg'), alt="Логотип")
