.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 360px;
  background-color: $main-black;
  @include montserrat();
  color: $text-gray;

  &.no-scroll {
    overflow: hidden;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

b {
  font-family: inherit;
  font-weight: 700;
}

li {
  line-height: 0;
}
