section.hero
  div.wrapper.hero__wrapper
    div.hero__inner
      +title('Полет Илона Маска и&nbsp;DOGIE COIN', 'h1', 'hero__title')
      p.hero__description В прошлый четверг все офигели от полета DOGIE COIN на марс.
      +primary-button('ОСТАВИТЬ ЗАЯВКУ', 'parallelogram')